@charset "utf-8";

/* Form Layout Styles */

div.formRow {
  display: flex;
  flex-flow: row wrap;
  margin: 7px 0px;
}

div.formRow > * {
  flex: 1 1 150px;
}

/* Input Area Styles */
input {
  border-radius: 5px;
}

/* Text Area Styles */
textarea {
  margin-top: 10px;
  height: 120px;
  width: 95%;
  border-radius: 5px;
}

/* Form Button Styles */
div#button {
  text-align: center;
  width: 100%;
}

input[type="submit"] {
  font-size: 0.75em;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
}
