@charset "utf-8";

/* Style rules for body and images */
body {
  background-color: #bdb8b8;
  width: 100%;
}

/* Style rule for header */
header {
  width: 25%;
  float: left;
}

/* Styles for navigation area*/
nav {
  width: 70%;
  float: right;
  /* margin: 5em 3em 0 0; */
}

nav ul {
  list-style-type: none;
  margin: 0;
  text-align: right;
  line-height: 2em;
}

nav li {
  display: inline-block;
}

nav li a {
  display: block;
}

/* Styles for main, section, and footer areas */
main,
div,
section,
footer {
  /* Later check changing this to left */
  clear: left;
  padding: 2%;
}

/* Styles for the main and div section */
div#parent {
  display: flex;
  width: 100%;
}

main#intro {
  width: 50%;
  margin: 100px auto;
  padding: 100px auto;
}

div#image {
  width: 50%;
  margin: 100px auto;
  padding: 100px auto;
}

/* Styles for the stacks section */
/* section#stacks {
  width: 100%;
  margin: 100px auto;
  padding: 100px auto;
} */

/* Positioning the list elements horizontally for the stack section */
/* Needs more work in the next sessions */
/* Reduce the padding and margin */
/* When the viewport gets smaller the li items start moving to the next line */
/* Check html197 */
section#stackSection > ul > li {
  display: block;
  float: left;
  padding: 100px 60px;
  margin: 100px auto;
}

/* Styles for the projects section */
section#projects {
  width: 100%;
  margin: 100px auto;
  padding: 100px auto;
}

/* Styles for the contact section */
section#contact {
  width: 100%;
  margin: 100px auto;
  padding: 100px auto;
}
