@charset "utf-8";

/* Outline */
/* * {
  outline: 1px dotted red;
} */

body {
  background-color: #d0d0d5;
}

div.mainContainer {
  padding-top: 50px;
  padding-left: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
}

body > div.mainContainer > div.display {
  display: flex;
  justify-content: end;
  align-items: end;
  font-size: 2em;
  padding-bottom: 25px;
  padding-right: 8px;
}

div.display {
  height: 100px;
  width: 500px;
  background-color: #222222;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: white;
}

div.keysMain {
  display: grid;
  width: 500px;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, 60px);
}

.operators,
.equals,
.decimal,
.clear,
.operands {
  display: grid;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #222222;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #222222;
}

button.plus {
  grid-row: 1;
  grid-column: 1;
}

button.minus {
  grid-row: 1;
  grid-column: 2;
}
button.times {
  grid-row: 1;
  grid-column: 3;
}
button.divide {
  grid-row: 1;
  grid-column: 4;
  border-right: 1px solid black;
}
button.seven {
  grid-row: 2;
  grid-column: 1;
}
button.eight {
  grid-row: 2;
  grid-column: 2;
}
button.nine {
  grid-row: 2;
  grid-column: 3;
}
button.equals {
  grid-row: 2/6;
  grid-column: 4;
  border-bottom-right-radius: 25px;
  border-right: 1px solid black;
}
button.four {
  grid-row: 3;
  grid-column: 1;
}
button.five {
  grid-row: 3;
  grid-column: 2;
}
button.six {
  grid-row: 3;
  grid-column: 3;
}
button.one {
  grid-row: 4;
  grid-column: 1;
}
button.two {
  grid-row: 4;
  grid-column: 2;
}
button.three {
  grid-row: 4;
  grid-column: 3;
}
button.zero {
  grid-row: 5;
  grid-column: 1;
  border-bottom-left-radius: 25px;
}
button.decimal {
  grid-row: 5;
  grid-column: 2;
}
button.clear {
  grid-row: 5;
  grid-column: 3;
}

/* colors */

.plus,
.minus,
.times,
.divide {
  background-color: #eeeeee;
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.zero {
  background-color: #ffffff;
}

.equals {
  background-color: #ff8255;
}
